/*.parent{
background-color: yellow;
    height: 50px;
    width: 10px;
    text-align: center;
    margin: 0 0 0 auto;
    border: 50px 50px 50px;


}
.parent-child{
    padding:20px 40px ;
    background-color: blanchedalmond;
    box-sizing: border-box;
}
.child{
    background-color: black;
    padding: 20px 40px;
    margin: 150px;
}
.img{
    height: 100px;
    width: 100px;
    padding: 10% 20%;
    margin: 10% 10% 5% 5%;
}
.dhruv{
    
    font-size: 2em;
}
.dhruv1{
    font-size: 2em;
    width: 2em;
}
.btn{
    display: block;
    padding: 16px;
    border-radius: 8px;
    border: none;
    margin: 10px auto;
    font-size: 16px;
    width: 120px;
}
.btn-small{
    font-size: 30px;
}*/

/* .parent{
    ul:first-child{
        background-color: brown;
    }
    ol{
        background-color: blue;
        li:first-of-type{
            background-color: aqua;
            width:fit-content;
        }
        li:nth-child(4){
            background-color: blueviolet;
            width: fit-content;
        }
        li:nth-child(3){
            background-color: salmon;
            width: fit-content;
        }
    }
    ul:last-child{
        background-color: blueviolet;
    }
}
/* .child{
    background-color: aliceblue;
    height: 100%;
    min-height: 200px;
    max-height: 159px;
} */ 

/* .parent>ul{
    background-color: blue;
}
.parent+ul{
    background-color: blueviolet;
}.parent ul{
background-color: brown;
} */
.parent1{
    background-color: aqua;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.child{
    background-color: yellow;
    border: 7px solid bisque;
    flex-basis: 40px;   
}
.searchbox{
    flex-grow: 3;
    }
.parent2{
        background-color: aqua;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
    }
.parent3{
        background-color: aqua;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }
.parent4{
        background-color:aqua;
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-end;
    }